---
import SmallCaps from './SmallCaps.astro';
---

<h1 class="font-['Cinzel'] text-5xl m-0 text-center text-[#d4af37] [text-shadow:2px_2px_4px_rgba(0,0,0,0.5)] font-bold">
  <SmallCaps text="Fields of" class="block text-3xl" />
  <SmallCaps text="REVIK" class="block text-6xl" />
</h1>